/*fonts Fira Sans*/
@font-face {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arial-regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/arial-black.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Arial-900";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/arial-black.woff2");
  font-display: swap;
}
body {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  display: inline-block;
}

img {
  vertical-align: middle;
}

h2 {
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
}

.row.g-30 {
  margin-left: -15px;
  margin-right: -15px;
}

.row.g-30 > div {
  padding-left: 15px;
  padding-right: 15px;
}

div.mt-30 {
  margin-top: 30px;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.top-160 {
  padding-top: 160px;
}

.bottom-160 {
  padding-bottom: 160px;
}

.btn {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.16em;
  border: 4px solid #fff;
  box-sizing: border-box;
  border-radius: 25px;
  background: linear-gradient(98.04deg, #3C1960 -9.26%, #A12669 58.73%, #FEC261 124.53%);
  border-radius: 25px;
  padding: 10px 20px;
  color: #fff;
}

/*header burger menu*/
.burger-mobile {
  display: none;
}

.menu-toggle {
  color: #A12669;
  cursor: pointer;
  display: none;
}

.bg-menu {
  background-color: #D27665;
  background-image: none;
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.hamburger {
  width: 40px;
  height: 4px;
  transform: translate(-50%, -50%);
  background: #A12669;
  transition: 0.5s;
  display: inline-block;
  margin-left: 12px;
}

.hamburger:after,
.hamburger:before {
  content: "";
  width: 40px;
  height: 4px;
  position: absolute;
  background: #A12669;
  transition: 0.5s;
}

.hamburger:before {
  top: -16px;
}

.hamburger:after {
  top: 16px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

/*burger menu close*/
/*header*/
.header-logo {
  display: flex;
  align-items: center;
}

.header-logo:hover {
  -webkit-animation: shake 1.7s;
  animation: shake 1.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*site loading*/
.wrap-preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #744fcc 1%, #cc4f75 70%, #6f4fcc 87%);
  transition: 1s all;
  opacity: 1;
  visibility: visible;
  z-index: 999999;
}

.box-preloader {
  position: absolute;
  left: 49%;
  top: 49%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.container-preloader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: url("#goo");
  -webkit-animation: rotate-move 2s ease-in-out infinite;
          animation: rotate-move 2s ease-in-out infinite;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dot-3 {
  background-color: #f74d75;
  -webkit-animation: dot-3-move 2s ease infinite, index 6s ease infinite;
          animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot-2 {
  background-color: #10beae;
  -webkit-animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
          animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-1 {
  background-color: #ffe386;
  -webkit-animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
          animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

@-webkit-keyframes dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60% {
    transform: translateY(-90px) scale(0.45);
  }
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60% {
    transform: translateY(-90px) scale(0.45);
  }
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@-webkit-keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@-webkit-keyframes dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@-webkit-keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes index {
  0%, 100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}
@keyframes index {
  0%, 100% {
    z-index: 3;
  }
  33.3% {
    z-index: 2;
  }
  66.6% {
    z-index: 1;
  }
}
.cansel {
  opacity: 0;
  visibility: hidden;
}

/*site loading cansel*/
.header-menu__navigation {
  display: flex;
  justify-content: end;
}
.header-menu__list li {
  display: inline-block;
  vertical-align: middle;
}
.header-menu__item {
  margin: 0 3rem;
}
.header-menu__link {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  transition: 0.7s;
}
.header-menu__link:hover {
  color: #D27665;
}

.header-area {
  background-image: url(..//images/header-star.png), url(..//images/stars-min.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, center left;
}
.header-area__heading {
  font-family: "Arial-900";
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 128.49%;
  color: #fff;
  margin-bottom: 3rem;
}
.header-area__btn {
  transition: all 0.3s ease;
}
.header-area__btn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}
.header-area__description {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
}
.header-area__square {
  width: 100%;
  height: 273.37px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
.header-area__oval {
  border-radius: 100px;
  width: 100%;
  height: 273.37px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
.header-area__ellipse {
  border-radius: 100px 0 0 100px;
  width: 100%;
  height: 273.37px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
.header-area__circle {
  border-radius: 0 100px 100px 0;
  width: 100%;
  height: 273.37px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

.heading-box {
  background-image: url(..//images/stars-min.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

#magnify {
  display: none;
  position: fixed;
  max-width: 900px;
  height: auto;
  z-index: 9999;
}

#magnify img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 10px 10px 10px;
  background: white;
}

#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.98;
  z-index: 9990;
}

#close-popup {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(..//images/close.png) no-repeat center center;
  background-size: 30px 30px;
  display: block;
}

@-webkit-keyframes rota {
  25% {
    transform: rotate(360deg);
  }
}

@keyframes rota {
  25% {
    transform: rotate(360deg);
  }
}
#close-popup:hover {
  -webkit-animation: rota 4s infinite normal;
          animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*browse by category block*/
.browse-area__heading {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 128.49%;
  color: #fff;
}

.browse-area__subheading {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  transition: 0.7s;
}

div.element.slick-slide {
  margin: 0 10px;
}

div.slick-list {
  margin-left: -10px;
  margin-right: -10px;
}

.browse-area__img {
  border-radius: 50px;
}

.browse-area__img {
  width: 100%;
  height: 373.37px;
  -o-object-fit: cover;
  object-fit: cover;
}

/*top collection*/
.collection-area {
  background-image: url(..//images/star-min.png), url(..//images/stars-min.png), url(..//images/header-star.png), url(..//images/stars-min.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top right, center left, top right, center right;
}

.collection-heading {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 128.49%;
  color: #fff;
}

.strip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strip-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 619px;
  min-height: 112px;
  background-color: #1D1429;
  border: 1px solid #A12669;
  box-sizing: border-box;
  box-shadow: 0px 38.5185px 25.4815px rgba(9, 9, 72, 0.0242963), 0px 8.14815px 6.51852px rgba(9, 9, 72, 0.0157037), 0px 1.85185px 3.14815px rgba(9, 9, 72, 0.00962963);
  border-radius: 16px;
  cursor: pointer;
}

.strip-pectures__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.strip-pectures__images {
  padding: 20px 20px;
}

.strip-description__box {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.strip-description__text {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0.5em;
  margin-block-end: 0.5em;
}
.strip-description__number {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.strip-percent {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #B8CC3C;
  padding-right: 1rem;
}

.strip-wrapper {
  display: flex;
}

.strip-arrow {
  fill: #fff;
  transition: transform 0.4s;
  margin-right: 1rem;
}

.strip-case {
  display: flex;
  align-items: center;
}

.strip-invisible__text {
  display: none;
}
.strip-invisible__description {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 0 20px;
  padding-bottom: 20px;
}

.animate-rotate {
  fill: #B8CC3C;
  transform: rotate(180deg);
}

/*trending NFT block*/
.trending-area__heading {
  font-family: "Arial-700";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 128.49%;
  color: #fff;
}

.herwitz-images {
  border-radius: 0px 250px 250px 0px;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
  object-fit: cover;
}

.gouse-images {
  border-radius: 250px;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
  object-fit: cover;
}

.stanton-images {
  border-radius: 250px 0px 0px 250px;
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
  object-fit: cover;
}

ul.slick-dots {
  bottom: -50px;
}

.trending-slider__subheading {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
.trending-slider__heading {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
.trending-slider__description {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
  opacity: 0.7;
}
.trending-slider__link {
  color: #A12669;
}

div.trending-element.slick-slide {
  margin: 0 30px;
}

div.trending-list {
  margin-left: -30px;
  margin-right: -30px;
}

button.slick-prev:before,
.slick-next:before {
  font-size: 25px !important;
  color: #A12669 !important;
}

.slick-dots li.slick-active button:before {
  color: #A12669 !important;
}

.col-lg-3.col-md-5.mt-30.element:hover .browse-area__img {
  border-bottom: 5px solid #A12669;
  -webkit-transition: all;
  -webkit-transition-duration: 600ms;
  cursor: pointer;
}

.subheading-color {
  color: #A12669 !important;
}

/*video block*/
.video-box {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-case {
  position: relative;
}

.video-button {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50px;
}

.controls {
  display: flex;
  align-items: center;
  position: relative;
  top: 41.2rem;
  height: 70px;
  background: #FFC0CB;
  border-radius: 0 0 50px 50px;
}

.controls-none {
  display: none;
}

.paused {
  border: none;
  background-color: transparent;
  max-width: 40px;
  text-align: center;
  cursor: pointer;
  margin-left: 3rem;
  margin-right: 1rem;
}
.paused:hover {
  cursor: pointer;
}

.icon-pause {
  display: none;
  cursor: pointer;
}

.block {
  display: block;
  cursor: pointer;
}

.none {
  display: none;
}

.video-mutebutton {
  background-color: transparent;
  border: none;
  background-image: url(..//images/sound.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 3rem;
}

.video-nosound {
  background-color: transparent;
  border: none;
  background-image: url(..//images/no-audio.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.video-fullscreen {
  background-color: transparent;
  border: none;
  background-image: url(..//images/full-screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.video-range {
  margin-left: 1rem;
  margin-right: 3rem;
  border-radius: 50px;
}

.video-time {
  margin-left: 1rem;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #DCDCDC;
  border-radius: 50px;
  border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DCDCDC;
}

input[type=range]::-moz-range-track {
  height: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #DCDCDC;
  border-radius: 50px;
  border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 39px;
  border-radius: 7px;
  background: #000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  height: 12.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #DCDCDC;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #DCDCDC;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #000;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #DCDCDC;
}

input[type=range]:focus::-ms-fill-upper {
  background: #DCDCDC;
}

.position-bar {
  height: 10px;
  font-weight: bold;
  background-color: #000;
  border-radius: 50px;
}

.position-bar span {
  display: inline-block;
}

.duration-bar {
  width: 100%;
  background: #DCDCDC;
  border-radius: 50px;
}

.bar-container {
  width: 800px;
  cursor: pointer;
}

/*footer*/
.social-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
}

.email-form {
  position: relative;
}

.email-wrapper__heading {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 128.49%;
  color: #fff;
  margin: 0;
}
.email-wrapper__description {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
  padding-right: 3rem;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
}
.email-wrapper__input {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #111111;
  width: 460px;
  min-height: 50px;
  background: #fff;
  border: 5px solid #A12669;
  box-sizing: border-box;
  border-radius: 25px;
  margin-right: 0.5rem;
  padding-left: 1rem;
}
.email-wrapper__input:focus {
  border: 1px solid #A12669;
  outline: none;
}
.email-wrapper__btn {
  transition: all 0.3s ease;
  cursor: pointer;
}
.email-wrapper__btn:hover {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

.error-border {
  border: 5px solid #ff0000;
}

.correctly-border {
  border: 5px solid #008000;
}

.correctly {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #008000;
  position: absolute;
  left: 1rem;
  top: 54px;
}

.error {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ff0000;
  position: absolute;
  left: 1rem;
  top: 54px;
}

.alias-wrapper__description {
  font-family: "Arial-400";
  font-size: 18px;
  line-height: 180%;
  color: #fff;
  padding-right: 5rem;
}

.footer-list__link {
  font-family: "Arial-400";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #fff;
  transition: all 0.3s ease;
}
.footer-list__link:hover {
  color: #D27665;
}

.social-heading {
  font-family: "Arial-400";
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #A12669;
  margin: 0;
}

/* begin Back to Top button  */
.footer-btn__up {
  width: 400px;
  margin: auto;
  text-align: justify;
}

.back-to-top {
  position: fixed;
  bottom: 116px;
  right: 20px;
  z-index: 9999;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  display: none;
  border-radius: 2px;
  cursor: pointer;
  height: 48px;
  width: 50px;
  color: #FB4C47;
  padding: 0.6rem 0;
  border-radius: 50%;
  transition: 1s all;
  background-color: #A12669;
}

.back-to-top:hover {
  background-color: #FB4C47;
}

.back-to-top-show {
  display: block;
}

.btn-up__arrow {
  transform: rotate(180deg);
  fill: #fff;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  -webkit-animation: fade-in 1s ease-in-out both;
  animation: fade-in 1s ease-in-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}